
body{
    margin: 0;
    padding: 0;
    font-family: Lexend;
    background-color: #A78295;
    }

#sidemenu{
    background-color: #3F2E3E;
    color: #ecf0f1;
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    padding-top: 20px;
    }
#content{
    margin-left: 200px;
    padding: 20px;
    display : flex;
    justify-content: center;
    align-items: center;
    }
#sidemenu a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ecf0f1;
    display: block;
    }
#sidemenu a:hover{
    color: #3498db;
    }

#dropzone{
    border: 2px dashed #3498db;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

#grid{
width: 800px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.student{
margin: 10px;
border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    }
